{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<!--====== Start Hero Section ======-->
<section class="hero-area-v1">
    <div class="hero-slider-one">
        <div class="single-slider">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero-content">
                            <span class="span">AURORA WEB SERVICES</span>
                            <h1>Aurora 
                                Digital 
                                Agency</h1>
                            <a href=" {{ path('app_about') }} " class="main-btn">Learn More</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero-img">
                            <img src="{{ asset('/images/hero/hero-1.jpg') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero-content">
                            <span class="span">AURORA WEB SERVICES</span>
                            <h1>Making 
                                You 
                                Visible</h1>
                            <a href=" {{ path('app_about') }} " class="main-btn">Learn More</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero-img">
                            <img src="/images/hero/hero-1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Hero Section ======-->

<!--====== Start Features Section ======-->
<section class="features-area-v1 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="features-item text-center mb-40">
                    <div class="icon">
                        <i class="fa fa-layer-group"></i>
                    </div>
                    <div class="content">
                        <h4>Graphics Design</h4>
                        <p>Quis autem vel eums reprh
                            endert qui in ea voluptat velit esse qua nihil moles</p>
                        <a href="service-1.html" class="btn-link">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="features-item text-center mb-40">
                    <div class="icon">
                        <i class="fa fa-laptop-code"></i>
                    </div>
                    <div class="content">
                        <h4>Web Development</h4>
                        <p>Quis autem vel eums reprh
                            endert qui in ea voluptat velit esse qua nihil moles</p>
                        <a href="service-1.html" class="btn-link">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="features-item text-center mb-40">
                    <div class="icon">
                        <i class="fa fa-shapes"></i>
                    </div>
                    <div class="content">
                        <h4>Product Design</h4>
                        <p>Quis autem vel eums reprh
                            endert qui in ea voluptat velit esse qua nihil moles</p>
                        <a href="service-1.html" class="btn-link">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="features-item text-center mb-40">
                    <div class="icon">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                    <div class="content">
                        <h4>Marketing Strategy</h4>
                        <p>Quis autem vel eums reprh
                            endert qui in ea voluptat velit esse qua nihil moles</p>
                        <a href="service-1.html" class="btn-link">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Features Section ======-->

<!--====== Start Features Section ======-->
<section class="features-area-v2 light-bg pt-120 pb-130">
    <div class="features-bg bg_cover" style="background-image: url({{asset('images/bg/features-bg-1.jpg') }});"></div>
    <div class="container">
        <div class="row">
            <div class="offset-lg-6 col-lg-6">
                <div class="features-content-box">
                    <div class="section-title section-title-left">
                        <span class="span">Who We Are</span>
                        <h2>Professional Creative
                            Digital Agency</h2>
                    </div>
                    <h5>Sed perspiciatis unde omnis iste natus error voluptatem accusantium doloremque laudantium totam rem aperiam
                        ue ipsa quae ab illo inventore veritatis</h5>
                    <ul class="icon-list mb-50">
                        <li>Inspired Design Decisions With Otto Storch Ideas</li>
                        <li>Announcing Smashing Online Workshops</li>
                        <li>How Should Designers Learn To Code Terminal</li>
                    </ul>
                    <a href=" {{ path('app_about') }} " class="main-btn">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Features Section ======-->

<!--====== Start Skill Section ======-->
<section class="skill-area skill-area-v1 pt-130 pb-90">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="skill-img mb-40">
                    <img src="{{ asset('/images/skill/skill-1.jpg') }}" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="skill-content-box mb-40">
                    <div class="section-title section-title-left">
                        <span class="span">Best Skills</span>
                        <h2>We Are Very Experience
                            & Professionals</h2>
                    </div>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</p>
                    <div class="skill-list">
                        <div class="single-bar" style="width: 95%;">
                            <div class="progress-title">
                                <h5>Creative Design<span>95%</span></h5>
                            </div>
                            <div class="progress">
                                <div class="progress-bar wow slideInLeft"></div>
                            </div>
                        </div>
                        <div class="single-bar" style="width: 78%;">
                            <div class="progress-title">
                                <h5>Product Engineering<span>78%</span></h5>
                            </div>
                            <div class="progress">
                                <div class="progress-bar wow slideInLeft"></div>
                            </div>
                        </div>
                        <div class="single-bar" style="width: 85%;">
                            <div class="progress-title">
                                <h5>Marketing Strategy<span>85%</span></h5>
                            </div>
                            <div class="progress">
                                <div class="progress-bar wow slideInLeft"></div>
                            </div>
                        </div>
                        <div class="single-bar" style="width: 93%;">
                            <div class="progress-title">
                                <h5>Support & Tips<span>93%</span></h5>
                            </div>
                            <div class="progress">
                                <div class="progress-bar wow slideInLeft"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Skill Section ======-->

<!--====== Start Sponsor Section ======-->
<section class="sponsor-area-v1 pt-130 pb-130">
    <div class="container">
        <div class="sponsor-slide-one">
            <div class="single-sponsor">
                <img src="assets/images/sponsor/sponsor-1.png" alt="">
            </div>
            <div class="single-sponsor">
                <img src="assets/images/sponsor/sponsor-2.png" alt="">
            </div>
            <div class="single-sponsor">
                <img src="assets/images/sponsor/sponsor-3.png" alt="">
            </div>
            <div class="single-sponsor">
                <img src="assets/images/sponsor/sponsor-4.png" alt="">
            </div>
            <div class="single-sponsor">
                <img src="assets/images/sponsor/sponsor-5.png" alt="">
            </div>
            <div class="single-sponsor">
                <img src="assets/images/sponsor/sponsor-2.png" alt="">
            </div>
        </div>
    </div>
</section>
<!--====== End Sponsor Section ======-->

{% endblock %}
